.header_text{
text-align: center;
color: red;

}

.products_text{
    text-align: center;
      font-style: italic;

}

.products {
  display: flex;
  flex-direction: column;   /* елементи один під одним */
  justify-content: center;  /* вирівнювання по вертикалі (якщо буде висота) */
  align-items: center;      /* центрує горизонтально */
}
.products p {
  margin: 5px 0; /* верхній та нижній відступи по 5px */
  font-size: 25px; /* ще можна трохи зменшити шрифт */
}
.products hr {
  border: none;               /* прибираємо стандартний стиль */
  height: 5px;                /* товщина */
  background-color: green;    /* колір */
  width: 80%;                /* займає ширину батьківського div */
  margin: 10px 0;             /* відступи зверху і знизу */
}

.quote {
  font-family: "Times New Roman", Times, serif; /* шрифт Times */
  font-style: italic;                           /* курсив */
  transform: skewX(5deg);                       /* легкий нахил вправо */
  font-size: 18px;                              /* розмір тексту (за бажанням) */
  color: #333;                                  /* колір */
  margin: 20px;
}
